<section class="restrito"  ng-controller="SetoresCtrl as setCtrl">

    <div class="alert success" ng-show="setCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="setCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="btn-options">
        <a class="btn btn-info" href="#setores">Voltar</a>
    </div><!-- end .btn-options -->

    <h3 class="pr-titulo"> Adicionar Setor</h3>

    <form name="form" id="form" novalidate>

        <label> Nome do Setor: </label>
        <input ng-model="setCtrl.setor.nome" type="text" required/>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar " ng-click="setCtrl.salvar();" />

    </form>

</section><!-- Fim #header -->