<section class="restrito"  ng-controller="EditarTipoAtendimentoCtrl as tipoCtrl">

    <div class="alert success" ng-show="tipoCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="tipoCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="btn-options">
        <a class="btn btn-info" href="#tipoatendimento">Voltar</a>
    </div><!-- end .btn-options -->

    <h3 class="pr-titulo"> Editar Tipo de Atendimento</h3>

    <form name="form" id="form" novalidate>

        <label> Nome do Atendimento: </label>
        <input ng-model="tipoCtrl.atendimentoListaEdit.nome" type="text" required/>

        <label> Valor do Atendimento: </label>
        <input ng-model="tipoCtrl.atendimentoListaEdit.valor" type="text" required/>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar "
                                        ng-click="tipoCtrl.alterar(tipoCtrl.atendimentoListaEdit);" />

    </form>

</section><!-- Fim #header -->