<section id="md-coluna" ng-controller="ClientesCtrl as cliCtrl">

    <div class="alert success" ng-show="cliCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="cliCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="titulo-style">
        <h2 class="pr-titulo"> Adicionar Cliente </h2>
    </div><!-- Fim .titulo-style -->

    <form class="formulario" name="form" id="form" novalidate>

        <label> Nome do Cliente: </label>
        <input ng-model="cliCtrl.clientes.nome" type="text" required/>

        <label> AppID: </label>
        <input ng-model="cliCtrl.clientes.appid" type="text" required/>

        <label> AppSecret: </label>
        <input ng-model="cliCtrl.clientes.appsecret" type="text" required/>

        <label> Dono(s): </label>
        <ul>
            <li>
                <li ng-repeat="item in cliCtrl.usuarios">
                    <input type="checkbox" ng-click="cliCtrl.toggleSelection(item.token)" ng-value="item.token">{{item.nome}}
                </li>
            </li>
        </ul>

        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar " ng-click="cliCtrl.salvar(cliCtrl.clientes);" />

    </form>

</section><!-- Fim #header -->