<section id="md-coluna" ng-controller="ClientesEditCtrl as ediCtrl">

    <div class="alert success" ng-show="ediCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="ediCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="titulo-style">
        <h2 class="pr-titulo"> Editar Cliente </h2>
    </div><!-- Fim .titulo-style -->

    <form class="formulario" name="form" id="form" novalidate>

        <label> Nome do Cliente: </label>
        <input ng-model="ediCtrl.cliEdit.nome" type="text" required/>

        <label> AppID: </label>
        <input ng-model="ediCtrl.cliEdit.appid" type="text" required/>

        <label> AppSecret: </label>
        <input ng-model="ediCtrl.cliEdit.appsecret" type="text" required/>

        <label> Dono(s): </label>
        <ul>
            <li>
                <li ng-repeat="item in ediCtrl.usuarios">
                    <input type="checkbox" ng-click="ediCtrl.toggleSelection(item.token)"  ng-value="item.token" ng-checked="ediCtrl.tokens.indexOf(item.token) > -1">{{item.nome}}
                </li>
            </li>
        </ul>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar " ng-click="ediCtrl.alterar(ediCtrl.cliEdit);" />

    </form>

</section><!-- Fim #header -->