<section id="conteudo" ng-controller="TimelineCtrl as timeCtrl">
    
    <div class="timeline-perfil">
        <ul>
            <li>
                <img ng-src="http://img.rbvradios.com.br/perfil/{{prinCtrl.dadosLogado.foto}}/0/">
            </li>
            <li>
                <h2 ng-bind="prinCtrl.dadosLogado.nomecompleto"></h2>
            </li>
            <li>
                <a class="btn btn-success" href="#postagem/adicionar">
                    <i class="fa fa-volume-up fa-1x"></i>
                    Postar Áudio
                </a>
            </li>
        </ul>
    </div><!-- Fim .timeline-perfil -->

    <div class="timeline">

        <div class="timeline-titulo">
            <h1> Últimos uploads das rádios: </h1>
        </div><!-- Fim .timeline-titulo -->

        <div class="timeline-post" ng-repeat="item in timeCtrl.timeLista">

            <div class="timeline-post-dono">
                <ul>
                    <li>
                        <a href="http://cda.rbvradios.com.br/#/perfil/{{item.perfilname}}">
                            <img ng-src="http://img.rbvradios.com.br/perfil/{{item.foto_dono}}/0/">
                        </a>
                    </li>
                    <a href="http://cda.rbvradios.com.br/#/perfil/{{item.perfilname}}">
                        <li ng-bind-html="item.nome_dono">
                        </li>
                    </a>
                </ul>
            </div><!-- Fim .timeline-post-dono -->
            
            <div class="timeline-post-conteudo">
                <ul>
                    <li class="timeline-post-conteudo-desc">
                        <span>Postado em {{item.data | date:"dd/MM/yyyy 'às' HH:mm:ss"}}</span>
                    </li>
                    <li>
                        <h2 ng-bind-html="item.titulo"></h2>
                    </li>
                    <li ng-bind-html="item.descricao">
                    </li>
                    <li class="timeline-post-conteudo-download" ng-if=" item.audio != null ">

                        <a class="btn btn-other" ng-href="http://cda.rbvradios.com.br/service/audio/download/{{item.audio}}">
                            <i class="fa fa-download fa-1x"></i>
                            Baixar Áudio
                        </a>

                        <a class="btn btn-otherOne btn-margin-lf-ri" ng-href="http://cda.rbvradios.com.br/service/audio/ouvir/{{item.audio}}" target="_blank">
                            <i class="fa fa-headphones fa-1x"></i>
                            Escutar Áudio
                        </a>

                    </li>
                </ul>
            </div><!-- Fim .timeline-post-conteudo -->

        </div><!-- Fim .timeline-post -->

    </div><!-- Fim .timeline -->

</section><!-- Fim #header -->
        