<section class="restrito" ng-controller="NiveisAcessoCtrl as nilCtrl">

    <div class="alert success" ng-show="nilCtrl.msgSuccess">DELETADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="nilCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <h3 class="pr-titulo"> Lista de Níveis </h3>

    <div ng-if="principalCtrl.controle.tipo == 'adm' " class="add-item">
        <a class="btn btn-success" href="#niveisacesso/adicionar">Adicionar</a>
    </div><!-- Fim #add-item -->

    <table class="tb-comuns">
        <thead><!--  cabeçalho da tabela -->
            <tr>
                <td>Descrição</td>
                <td>Numero do Nível</td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " ></td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " ></td>
            </tr>

            <tr ng-repeat="item in nilCtrl.nivelLista"> 
                <td>{{item.descricao}}</td>
                <td>{{item.nivel}}</td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " >
                    <a class="btn btn-warning" ng-href="#niveisacesso/editar/{{item.id}}" >Editar</a>
                </td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " >
                    <button ng-click="nilCtrl.deletar(item, $index);" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
                
        </thead><!--  cabeçalho da tabela -->
    </table>

</section><!-- Fim #header -->
        