<section class="restrito"  ng-controller="RadiosCtrl as radCtrl">

    <div class="alert success" ng-show="radCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="radCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="btn-options">
        <a class="btn btn-info" href="#radios">Voltar</a>
    </div><!-- end .btn-options -->

    <h3 class="pr-titulo"> Adicionar Empresa</h3>

    <form name="form" id="form" novalidate>

        <label> Rádio: </label>
        <input ng-model="radCtrl.radios.radio" type="text" required/>

        <label> Mala de Email: </label>
        <textarea ng-model="radCtrl.radios.email" required></textarea>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar " ng-click="radCtrl.salvar();" />

    </form>

</section><!-- Fim #header -->