<section class="restrito"  ng-controller="EditarRadiosCtrl as edradCtrl">

    <div class="alert success" ng-show="edradCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="edradCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="btn-options">
        <a class="btn btn-info" href="#radios">Voltar</a>
    </div><!-- end .btn-options -->
    
    <h3 class="pr-titulo"> Editar Empresa</h3>

    <form name="form" id="form" novalidate>

        <label> Rádio: </label>
        <input ng-model="edradCtrl.radEdit.radio" type="text" required/>

        <label> Mala de Email: </label>
        <textarea ng-model="edradCtrl.radEdit.email" required></textarea>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar " ng-click="edradCtrl.alterar();" />

    </form>

</section><!-- Fim #header -->