
<nav class="frame-top white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><img src="../../assets/img/LOGOS/rbv.png" alt="RBV Rádios"></a>
    
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="#">Home</a>
       
      </li>
      <li>
        <a class="modal-trigger" href="#modal1">Contato</a>
      </li>
      
    </ul>

    <ul id="nav-mobile" class="side-nav">
      
      <li><a href="#">Home</a></li>
      <li><a class="modal-trigger" href="#modal1">Contato</a></li>
      
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>

</nav>




<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text green-text fagocolf"><strong>RBV RÁDIOS</strong></h1>
      <div class="row center">
        <h5 class="texto_banner header col s12 light myrardsemibold">Atuando com a missão de alegrar e informar as pessoas com excelência, ética e inovação.
          A RBV é formada por oito emissoras no Estado de SC, envolvendo os municípios de Caçador, Canoinhas, Capinzal, Tangará e Videira.</h5>
      </div>
  
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/img/mesa_opt.png" alt="RBV Rádios"></div>
</div>
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">person_pin</i></h2>
          <h5 class="center myrardsemibold">Missão</h5>

          <p class="light myrard">Alegrar e informar as pessoas com excelência, ética e inovação.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">group</i></h2>
          <h5 class="center myrardsemibold">Visão</h5>

          <p class="light myrard">Ser reconhecida no Vale do Contestado como rede de comunicação e entretenimento, sendo referência em jornalismo regional.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">local_activity</i></h2>
          <h5 class="center myrardsemibold">Valores</h5>

          <p class="light myrard">Ética <br> CompetênciaQualidade <br> Credibilidade <br> Inovação <br> Valorização Humana.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="texto_banner header col s12 light myrardsemibold">Quatro emissoras na frequência AM e quatro na frequência FM.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/img/microphone_opt.jpg" alt="RBV rádios"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4> <strong>Rádios</strong> </h4>
        <div class="row centroRadiosSuperior"> 
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.radiocacanjure.com.br">
                <img class="responsive-img" src="../../assets/img/LOGOS/cacanjure.png" alt="rádio caçanjure AM 1110">
              </a>
          </div>
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.radiovideira.com.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/videira.png" alt="rádio Videira AM 790">
              </a>
          </div>
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.radiotangara.am.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/tangara.png" alt="rádio Tangará AM 1570">
              </a>
          </div>
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.radiobarrigaverde.am.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/barriga verde.png" alt="rádio Barriga Verde AM  1380">
              </a>
          </div>
        </div>
        <div class="row centroRadiosInferior">
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.fm929.com.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/92.png" alt="rádio 92 FM 92.9">
              </a>
          </div>
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.transamericapopfm.com.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/pop.png" alt="rádio transamérica pop FM 105.7">
              </a>
          </div>
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="http://www.transamericavideira.fm.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/hits.png" alt="rádio transamérica hits FM 102.9">
              </a>
          </div>
          <div class="col s6 m3  logosRadios">
              <a target="_blank" href="https://massafm.com.br/">
                <img class="responsive-img" src="../../assets/img/LOGOS/massa.png" alt="rádio massa FM 105.1">
              </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="texto_banner header col s12 light myrardsemibold">Desde 1987 alegrando e informando as pessoas</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/img/headphone_opt.jpg" alt="RBV rádios"></div>
</div>

<section class="historico">
<h4 class="center"><strong>Histórico</strong></h4>
<div class="col s12 center">
  <p class="center light">
 Atuando com a missão de alegrar e informar as pessoas com excelência, ética e inovação, a
<strong>RBV Rádios</strong> é formada por oito

emissoras no Estado de SC, envolvendo os municípios de
<strong>Caçador, Canoinhas, Capinzal, Tangará e Videira</strong>. Atualmente conta, de forma ativa, com quatro emissoras na frequência
AM e quatro na frequência FM. Tudo começou com a
<strong>Rádio Videira</strong> em 1949, que se tornou a pioneira no meio de comunicação no

Vale do Rio do Peixe, e em 1987 o município de Videira passa a contar com sua primeira emissora FM, na época Rádio Verde
Vale atualmente
<strong>Transamérica Hits Videira</strong>. Com duas emissoras de rádios, seus sócios começaram a vislumbrar maiores conquistas

no meio da comunicação, e então, viram a necessidade de investir em uma rede. Nascia aqui, a
<strong>REDE BARRIGA VERDE DE RÁDIOS</strong>,

cujo propósito era dar proteção para as suas emissoras que passaram a se integrar, buscando assim, maior interação, ajuda
mútua no meio do rádio, compartilhamento, e complementaridade entre elas. Numa continuidade, em 1989 a rede inicia pra valer,
a sua expansão, e no município de Caçador, passa a integrar a
<strong>Rádio Caçanjurê</strong>. E no mesmo município, em 1992, também passa

a contar com sua quarta emissora, a
<strong>Rádio 92 FM </strong>. No ano de 1995 a
<strong>RBV</strong> amplia ainda mais sua atuação na radiodifusão, e no


município de Canoinhas adquire a
<strong>Rádio Pantera FM</strong>. A <strong>RBV</strong>  já contava com duas emissoras AM e três FM, tendo como propósito

uma expansão ainda maior, em 1998 passa a contar com mais uma rádio na frequência AM, desta vez atuando no município de Capinzal
com a <strong>Rádio Barriga Verde</strong> . Não parando por aí e sempre com o propósito de expandir ainda mais, a <strong>RBV</strong>  adquire mais uma emissora
AM, sendo em Tangará. Em 2013 a <strong>RBV</strong> soma a quarta emissora

FM no município de Caçador, com a bandeira <strong>Transamérica Pop</strong> . Com sua marca registrada, a <strong>RBV</strong>  rádios credenciou sua atuação no meio do rádio, transmitindo mais qualidade de programação em rede de comunicação e entretenimento no Vale do Contestado.

  </p>
</div>
</section>
<footer class="page-footer green teal">
  <div class="container">
    <div class="row">
      <div id="contato" class="col l6 s12">
        <img src="../../assets/img/LOGOS/rbv_white.png" alt="RBV rádio">
        <p class="grey-text text-lighten-4">

        </p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Mapa do site</h5>
        <ul>
          <li><a class="white-text" href="#logo-container">Home</a></li>
          <li><a class="white-text modal-trigger" href="#modal1">Contato</a></li>
          
        </ul>
      </div>
      <div class="social_media col l3 s12">
        <!-- <h5 class="white-text">Social</h5>
        <ul>
          <li>
            <a class="white-text" href="#!"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
            <a class="white-text" href="#!"><i class="fa fa-whatsapp" style="font-size:36px"></i></a>
          </li>  
        </ul> -->
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
        © 2018 RBV <br>
    </div>
  </div>

  
</footer>

<!-- Modal Structure -->
<div id="modal1" class="modal">

  <div class="modal-content">

    <div class="logo_form row col s12">
      <a id="logo-container" href="#" class="logo-contato">
        <img src="../../assets/img/logoRBV.png" alt="RBV Rádio">
      </a>
    </div>

    <div class="row">

      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate" [(ngModel)] = "msg.nome" name="nome">
            <p>{{ msg.nome }}</p>
            <label for="icon_prefix">Nome</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="icon_email" type="text" class="validate"  [(ngModel)] = "msg.email" name="email">
            <p>{{ msg.email }}</p>
            <label for="icon_email">email</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Deixe sua mensagem</label>
          </div>
        </div>
      </form>
    </div>

    <div class="row container">
      <a href="#!" class="col s12 btn_modal modal-action modal-close waves-effect waves-green btn waves-effect waves-light col s6">Enviar</a>
      <span></span>
      <a href="#!" class="col s12 btn_modal modal-action modal-close waves-effect waves-green btn col s6">Voltar</a>
    </div>

  </div>

</div>
<!--Fim Modal structure-->
