<section id="md-coluna" ng-controller="PushAddCtrl as pushCtrl">

    <div class="alert success" ng-show="pushCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="pushCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="titulo-style">
        <h2 class="pr-titulo"> Enviar Push </h2>
    </div><!-- Fim .titulo-style -->

    <form class="formulario" name="form" id="form" novalidate>

        <label> Rádio:</label>
        <select ng-model="pushCtrl.notificacao.usudados" required>
            <option ng-repeat="item in pushCtrl.clientes" value="{{item}}">{{item.nome}}</option>
        </select>

        <label> Conteúdo: </label>
        <textarea ng-model="pushCtrl.notificacao.descricao" maxlength="100" required></textarea>
        <h3 class="contagem-regressiva">Você já escreveu {{0 + pushCtrl.notificacao.descricao.length}} de 100 Caracteres. </h3>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Enviar Push " ng-click="pushCtrl.salvar(pushCtrl.notificacao);" />

    </form>

</section><!-- Fim #header -->