<section class="restrito" ng-controller="TiposEquipamentoCtrl as tipoCtrl">

    <div class="alert success" ng-show="tipoCtrl.msgSuccess">DELETADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="tipoCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <h3 class="pr-titulo"> Lista Tipo de Equipamentos </h3>

    <div ng-if="principalCtrl.controle.tipo == 'adm' " class="add-item">
        <a class="btn btn-success" href="#tipoequipamento/adicionar">Adicionar</a>
    </div><!-- Fim #add-item -->

    <table class="tb-comuns">
        <thead><!--  cabeçalho da tabela -->
            <tr>
                <td>Tipo</td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " ></td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " ></td>
            </tr>

            <tr ng-repeat="item in tipoCtrl.tipoEquiLista"> 
                <td>{{item.nome}}</td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " >
                    <a class="btn btn-warning" ng-href="#tipoequipamento/editar/{{item.id}}" >Editar</a>
                </td>
                <td ng-if="principalCtrl.controle.tipo == 'adm' " >
                    <button ng-click="tipoCtrl.deletar(item, $index);" class="btn btn-danger">Deletar</button>
                </td>
            </tr>
                
        </thead><!--  cabeçalho da tabela -->
    </table>

</section><!-- Fim #header -->
        