<section id="md-coluna" ng-controller="PostagemAddCtrl as postCtrl">

    <div class="alert success" ng-show="postCtrl.msgSuccess">ENVIADO COM SUCESSO! </div>
    <div class="alert warning" ng-show="postCtrl.msgError"> OCORREU UM PROBLEMA CONTATE O PROGRAMADOR! (ERRO #1)</div>

    <div class="titulo-style">
        <h2 class="pr-titulo"> Adicionar Relatório </h2>
    </div><!-- Fim .titulo-style -->

    <form class="formulario" name="form" id="form" novalidate>

        <label> Rádio:</label>
        <select ng-model="postCtrl.postagem.token_dono" required>
            <option ng-repeat="item in postCtrl.contas" value="{{item.token_id}}">{{item.nome}}</option>
        </select>

        <label> Valor: </label>
        <input ng-model="postCtrl.postagem.valor" ui-money-mask type="text" required/>

        <label> Arquivo do Ecad (.exp): </label>
        <input ngf-select ngf-max-size="150MB" name="file" ngf-accept="file/exp" ngf-pattern="'.exp'" accept=".exp" ng-model="postCtrl.postagem.arquivo" type="file" required/>
        <div class="pr-progress" ng-show="postCtrl.progress!=0">
            <div class="pr-bar" style="width:{{postCtrl.progress}}%;"></div>
        </div>
        <i style="" class="alert info is-hide" ng-show="form.file.$error.maxSize">O Arquivo excede o limite de tamanho em MB!</i>
    
        <input ng-disabled="form.$invalid" class="btn btn-success" type="submit" value=" Salvar " ng-click="postCtrl.salvar(postCtrl.postagem);" />

    </form>

</section><!-- Fim #header -->