<div class="card">
<div class="img_principal card-image waves-effect waves-block waves-light">

<img class="activator" src="../../assets/img/logoRBV.png">

  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
<h3>
  <strong>RBV Rádios</strong>
</h3> Repositório de voz


      <i class="material-icons right">more_vert</i>
    </span>

  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">RBV Rádios
      <i class="material-icons right">close</i>
    </span>
    <p>Banco de dados de voz de locutores da RBV rádios.</p>
  </div>
</div>

<div class="">

</div>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">assignment_ind</i>Alessandra Deitos</div>
    <div class="collapsible-body">
      <span>
        <audio controls>
          <source src="../assets/audio/Queen Radio Ga Ga.mp3" type="audio/mpeg">
          <source src="../../assets/audio/Queen 'Radio Ga Ga'.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
        </audio>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">assignment_ind</i>Leo Corrêa - </div>
    <div class="collapsible-body">
      <span>
        <audio controls>
          <source src="../assets/audio/Queen Radio Ga Ga.mp3" type="audio/mpeg">
          <source src="../assets/audio/Queen 'Radio Ga Ga'.mp3" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">assignment_ind</i>Gustavo</div>
    <div class="collapsible-body">
      <span>
        <audio controls>
          <source src="../assets/audio/Queen Radio Ga Ga.mp3" type="audio/mpeg">
          <source src="../assets/audio/Queen 'Radio Ga Ga'.mp3" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
      </span>
    </div>
  </li>
</ul>