<div class="card">
<div class="img_principal card-image waves-effect waves-block waves-light">

  <img class="activator" src="../../assets/img/logoRBV.png">

</div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <h4 class="center">Banco de voz</h4>
      <i class="material-icons right">more_vert</i>
    </span>

  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">RBV Rádios
      <i class="material-icons right">close</i>
    </span>
    <p>Banco de voz de locutores da RBV rádios.</p>
  </div>
</div>


<div class="collUnit container"> <!--Inicio do collapsible-->
<h3>Caçador</h3>
  <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <div class="row collection">
            <div class="col s6">
              <div class="chip">
                <img src="../../assets/img/locutores/ale.png" alt="Contact Person"> Alessandra Deitos
              </div>
            </div>
            <div class="col s6">
              <a class="collection-item">
                <strong>Disponibilidade: </strong>{{ horario }}
              </a>
            </div>
          </div>
        </div>
        <div class="collapsible-body">
          <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/alessandradeitos.m4a" type="audio/mpeg">
              <source src="../../assets/audio/voices/alessandradeitos.m4a" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
              <a class="" href="{{ mail }}">
                <i class="small material-icons right">contact_mail</i>
              </a>  
          </div>
        </div>
      </li>
    </ul>

  