<div class="card">
<div class="img_principal card-image waves-effect waves-block waves-light">

<img class="activator" src="../../assets/img/logoRBV.png">

  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <h4 class="center">Banco de voz</h4>
      <i class="material-icons right">more_vert</i>
    </span>

  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">RBV Rádios
      <i class="material-icons right">close</i>
    </span>
    <p>Banco de voz de locutores da RBV rádios.</p>
  </div>
</div>


<div class="collUnit container"> <!--Inicio do collapsible-->
<h3>Caçador</h3>
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/ale.png" alt="Contact Person"> Alessandra Deitos
            </div>
          </div>
          <div class="col s6">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>15:00 às 18:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
        <span>
          <audio controls>
            <source src="../../assets/audio/voices/alessandradeitos.m4a" type="audio/mpeg">
            <source src="../../assets/audio/voices/alessandradeitos.m4a" type="audio/mpeg"> Seu navegador não suporta Audio
          </audio>
        </span>
            <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar Audio Alessandra Deitos">
              <i class="small material-icons right">contact_mail</i>
            </a>  
        </div>
      </div>
    </li>
  </ul>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/leo_correa.png" alt="Contact Person"> Leo Corrêa
            </div>
          </div>
          <div class="col s6 horario">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>06:00 às 12:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/Voz Leo Correa.mp3" type="audio/mpeg">
              <source src="../../assets/audio/voices/Voz Leo Correa.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar Audio Leo Corrêa">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>


  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/gustavo.png" alt="Contact Person"> Gustavo
            </div>
          </div>
          <div class="col s6 horario">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>08:00 às 18:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/Voz Gustavo Graneman.mp3" type="audio/mpeg">
              <source src="../../assets/audio/voices/Voz Gustavo Graneman.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar Audio Gustavo Granemann">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>

</div> <!--Fim do collapsible-->


<div class="collUnit container">
  <!--Inicio do collapsible-->
  <h3>Canoinhas</h3>
   <div class="collUnit"> <!--radio -->
    <h4>Radio Barriga verde</h4>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/karen_korb.png" alt="Contact Person"> Karen Korb
            </div>
          </div>
          <div class="col s6">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>08:00 às 11:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/Voz Karen Corbe.mp3" type="audio/mpeg">
              <source src="../../assets/audio/voices/Voz Karen Corbe.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar%Audio">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>
  </div><!--  radio -->
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/cristiano_ratico.png" alt="Contact Person"> Cristiano Ratico
            </div>
          </div>
          <div class="col s6 horario">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>14:00 às 17:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/Voz Cristiano Ratico.mp3" type="audio/mpeg">
              <source src="../../assets/audio/voices/Voz Cristiano Ratico.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar%Audio">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>


  

</div>
<!--Fim do collapsible Canoinhas-->




<div class="collUnit container">
  <!--Inicio do collapsible-->
  <h3>Capinzal</h3>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/karen_korb.png" alt="Contact Person"> Karen Korb
            </div>
          </div>
          <div class="col s6">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>08:00 às 11:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/Voz Karen Corbe.mp3" type="audio/mpeg">
              <source src="../../assets/audio/voices/Voz Karen Corbe.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar%Audio">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/cristiano_ratico.png" alt="Contact Person"> Cristiano Ratico
            </div>
          </div>
          <div class="col s6 horario">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>14:00 às 17:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/Voz Cristiano Ratico.mp3" type="audio/mpeg">
              <source src="../../assets/audio/voices/Voz Cristiano Ratico.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:opec@rbvradios.com.br?Subject=Gravar%Audio">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>

</div>
<!--Fim do collapsible Capinzal-->




<div class="collUnit container">
  <!--Inicio do collapsible-->
  <h3>Rádio Tangará</h3>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/tangara/juceliomaceno.png" alt="Contact Person"> Jucélio de Macedo
            </div>
          </div>
          <div class="col s6">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>15:30 às 17:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/tangara/Jucélio de Macedo.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:cpa@radiotangara.am.br?Subject=Gravar Audio Jucélio de Macedo">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/tangara/renanrampon.png" alt="Contact Person"> Renan Rampon
            </div>
          </div>
          <div class="col s6 horario">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>17:00 às 18:00
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/tangara/Renan Rampon.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:cpa@radiotangara.am.br?Subject=Gravar Audio Renan Rampon">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>



  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="row collection">
          <div class="col s6">
            <div class="chip">
              <img src="../../assets/img/locutores/tangara/mayaraBohenberger.png" alt="Contact Person"> Mayara Bohenberger
            </div>
          </div>
          <div class="col s6 horario">
            <a class="collection-item">
              <strong>Disponibilidade: </strong>08:30 às 11:30
            </a>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="container_colapsible">
          <span>
            <audio controls>
              <source src="../../assets/audio/voices/tangara/Mayara Bohnenberger.mp3" type="audio/mpeg"> Seu navegador não suporta Audio
            </audio>
          </span>
          <a class="" href="mailto:cpa@radiotangara.am.br?Subject=Gravar Audio Mayara Bohenberger">
            <i class="small material-icons right">contact_mail</i>
          </a>
        </div>
      </div>
    </li>
  </ul>


  

</div>
<!--Fim do collapsible-->
